.container {
  display: -webkit-flex;
  display: flex;
}

h1 {
  font-family: sans-serif;;
}

.left-space {
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
}

.column1 {
  -webkit-flex: none;
  flex: none;
  box-sizing: border-box;
  width: 110px;
  z-index: 100;
  margin-top: -40px
}


.column2 {
  -webkit-flex: none;
  flex: none;
  box-sizing: border-box;
  margin-left: 30px;
  width: 525px;
}


.column3 {
  -webkit-flex: none;
  flex: none;
  box-sizing: border-box;
  margin-left: 30px;
  width: 300px;
  padding-top: 250px;
}

upper-box {
  float left;
  padding-left: 5px;
  padding-right: 45px;
  padding-top: 5px
  padding-bottom: 5px;
  border: 1px solid black;
}

lower-box {
  clear: left:
  padding-left: 5px;
  padding-right: 45px;
  padding-top: 500px
  padding-bottom: 15px;
  /*border: 1px solid black;*/
}
